<ActionBar>
    <Label text="Browse"></Label>
</ActionBar>

<StackLayout verticalAlignment="center">
    <Button text="Show info dialog!" class="btn btn-primary" (tap)="showInfoDialog()"></Button>
    <Button text="Show confirm dialog!" class="btn btn-primary" (tap)="showConfirmDialog()"></Button>
    <Button text="Show positive dialog!" class="btn btn-primary" (tap)="showPositiveDialog()"></Button>
    <Button text="Show destructive dialog!" class="btn btn-primary" (tap)="showDestructiveDialog()"></Button>
</StackLayout>
